<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>

    <rapi-doc spec-url = "{{ page.attributes.openapi }}"
              schema-description-expanded="true"
              allow-spec-url-load="false"
              allow-spec-file-load="false"
              heading-text="{{ page.title }}"
              font-size="large"
              schema-style="table"
              default-schema-tab="schema"
              show-components="true"
              show-method-in-nav-bar="as-colored-block"
              show-curl-before-try="true"
              use-path-in-nav-bar="true">

    </rapi-doc>
  </body>
</html>
